LOG_PRETTY="true"
LOG_LEVEL="debug"
CORS_ORIGINS="*"
DATABASE_URL="postgres://postgres:postgres@localhost:5432/postgres?sslmode=disable"
CACHE_URL="redis://localhost:6379/0"
SMTP_HOST="localhost"
SMTP_PORT="1025"
SMTP_SECURE="false"
PASETO_PUBLIC_KEY="-----BEGIN PUBLIC KEY-----
MCowBQYDK2VwAyEARCsnT9JAkaWG+6BlBeJTKUmZY+xmn+xdwINSS4dhVHM=
-----END PUBLIC KEY-----"
PASETO_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----
MC4CAQAwBQYDK2VwBCIEIGgU582FmEz0i76AVAKH3NRcT+3fZu/SSXdhoFdzWfuH
-----END PRIVATE KEY-----"
PASETO_EXPIRATION_MINUTES="60000"
SQLX_OFFLINE=true